<h1>Customer List</h1>             
<table>
  <thead>                  
    <tr>                   
      <th> Name</th>
      <th> Address</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <%= form_tag customers_path, method:'get' do %>
        <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </tr>
    <tr>
      <% for customer in @customers %>
        <td width='150px'>
        <div class='name'>
          <strong> <%= customer.name %> </strong>
        </div>
        </td>
        <td>
        <div class='address'>
          <%= customer.address %>
        </div>
        </td>
      <% end %>
    </tr>       
  </tbody>
</table>
